{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "jest"
  ],
  "settings": {
    "react": {
      "version": "detect" 
    }
  },
  "rules": {
    "react/jsx-uses-vars": ["error"],
    "react/display-name": ["error"],
    "react/jsx-no-duplicate-props": ["error"],
    "react/jsx-uses-react": ["error"],
    "react/jsx-no-undef": ["error"],
    "react/no-danger": ["error"],
    "react/no-deprecated": ["error"],
    "react/no-direct-mutation-state": ["error"],
    "react/no-unknown-property": ["error"],
    "react/prefer-es6-class": ["error", "always"],
    "react/prop-types": ["error"],
    "react/react-in-jsx-scope": ["error"],
    "react/require-render-return": ["error"],
    "react/style-prop-object": ["error"],
  },
  "overrides": [
    {
      "files": [
        "**/*.ts?(x)"
      ],
      "rules": {
        "no-unused-vars": [
          2
        ]
      }
    }
  ]
}
